.home {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: relative;
  grid-column: 1/5;
  grid-row: 1/3;
}

.carousel-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img.carousel {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel {
  position: absolute;
  display: flex;
  flex: 1;
  opacity: 0;
  pointer-events: none;
}

.carousel.active {
  opacity: 1;
  pointer-events: visible;
}

.carousel-control {
  position: absolute;
  background-color: var(--black);
  bottom: 0px;
  right: -98px;
}

.heading,
.paragraph {
  position: relative;
}

.heading {
  margin-bottom: 120px;
}

.heading h1 {
  font-size: 3rem;
}

.paragraph p,
.about-note {
  color: #666;
}

.carousel-text {
  background-color: var(--white);
  grid-column: 5/8;
  grid-row: 1/3;
  padding: 120px 60px;
}

.btn,
.about-header {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.btn {
  margin-top: 280px;
}

.btn img {
  padding-left: 22px;
}

.img-left {
  grid-column: 1/3;
  grid-row: 3/4;
}

.img-left > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-text {
  background-color: var(--white);
  grid-column: 3/6;
  grid-row: 3/4;
  padding: 40px;
}

.about-header {
  padding-bottom: -10px;
}

.img-right {
  grid-column: 6/8;
  grid-row: 3/4;
}

.img-right > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1186px) and (min-width: 769px) {
  .heading {
    margin-bottom: 80px;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .paragraph p {
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: block;
    overflow: inherit;
  }

  .hero-img {
    display: inline;
  }

  .heading h1 {
    font-size: 2.5rem;
  }

  .carousel {
    width: 100%;
  }

  .carousel-image {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: inherit;
  }

  .carousel-text {
    padding: 40px;
    height: 300px;
  }

  .carousel-control {
    right: 0px;
  }
}

@media (max-width: 445px) and (min-width: 260px) {
  .heading {
    margin-bottom: 50px;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .paragraph p {
    margin: 40px 0 0;
    line-height: 1.2;
  }
}
