.nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  padding: 0.5rem 0rem;
  width: 100%;
  height: 55px;
  z-index: 99;
}

.hamburger-icon {
  display: none;
}

.logo {
  display: flex;
  padding-left: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.nav-links li {
  list-style: none;
  font-size: 1rem;
  padding: 10px 20px;
}

.nav-links li a {
  color: var(--white);
  opacity: 0.9;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: var(--cta-secondary);
}

@media (max-width: 768px) {
  .nav {
    position: relative;
    justify-content: center;
  }

  .logo {
    position: relative;
    padding-left: 30px;
    z-index: -2;
  }

  .hamburger-icon {
    position: absolute;
    left: 30px;
    cursor: pointer;
    display: block;
    padding-right: 30px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.mobile-nav {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 12px;
    width: 100vw;
    height: 50px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  .nav-links li a {
    color: var(--black);
  }

  .hidden {
    overflow-y: hidden;
  }
}
